/*
 * [Santz Front-end Boilerplate], made by [Santz]
 *
 * [Benavidez, Buenos Aires, Argentina]
 * Copyright [2015], [Santz Design]
 *
 * [http://santz.co] | [https://github.com/SantzDesign/Santz]
 * [santiago@santz.co]
 */

/*
 * Bourbon
 */

  @import "bourbon/bourbon";

/*
 * Box Sizing
 */

  *, *:after, *:before {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include box-sizing(border-box);
  }

/*
 * Normalize
 */

  @import "modules/normalize";

/*
 * Variables
 */

  $text-color:              #2e2e2e;
  $link-color:              #ccc;
  $font-size:               16px;
  $line-height:             1.4;
  $sans-serif-font-family:  'Roboto', sans-serif;
  $serif-font-family:       'Times New Roman', serif;

  $ultra-bold:              900;
  $bold:                    700;
  $medium:                  500;
  $normal:                  400;
  $light:                   300;
  $thin:                    100;

  $headings-line-height:    1.2;
  $headings-font-weight:    $light;
  $h1:                      28px;
  $h2:                      25px;
  $h3:                      22px;
  $h4:                      19px;
  $h5:                      18px;
  $h6:                      17px;

  $body-bg:                 #dfdfdf;
  $selection-bg:            #3f6079;
  $selection-color:         #f8fafb;

/*
 * Main
 */

  body {
    font: $normal $font-size $sans-serif-font-family;
    line-height: $line-height;
    color: $text-color;
    background: $body-bg;
    min-width: 320px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: $link-color;

    @include transition(color 0.3s ease);
  }

  ::-moz-selection {
    background: $selection-bg;
    color: $selection-color;
    text-shadow: none;
  }

  ::selection {
    background: $selection-bg;
    color: $selection-color;
    text-shadow: none;
  }

/*
 * Modules
 */

  @import "modules/fonts";

  @import "modules/grid";

  @import "modules/type";

  @import "modules/buttons";

  @import "modules/forms";

/*
 * Specifics
 */

  @import "parts/header";

  @import "parts/footer";

  @import "parts/home";

/*
 * Media
 */

  @import "modules/media";

  @import "modules/retina";