/*
 * [Name of the site], by [Author]
 *
 * [City, State, Country]
 * Copyright [Year], [Company]
 *
 * [Web address]
 * [contact@example.com]
 */

/*
 * Bourbon
 */

  @import "bourbon/bourbon";

/*
 * Box Sizing
 */

  *, *:after, *:before {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    box-sizing: border-box;
  }

/*
 * Normalize
 */

  @import "modules/normalize";

/*
 * Variables
 */

  $textColor:               black;
  $linkColor:               blue;
  $fontSize:                16px;
  $lineHeight:              1.6;
  $sansSerif:               'Dosis', sans-serif;
  $serif:                   'Times New Roman', serif;

  $bold:                    700;
  $normal:                  400;
  $light:                   300;

  $bodyBg:                  red;
  $selectionBg:             blue;
  $selectionColor:          white;

  $transitionsTiming:       0.3s;

  $cursorDisabled:          not-allowed;

/*
 * Main
 */

  body {
    font: $normal $fontSize $sansSerif;
    line-height: $lineHeight;
    color: $textColor;
    background: $bodyBg;
    min-width: 320px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: $linkColor;

    @include transition(color $transitionsTiming ease);
  }

  ::-moz-selection {
    background: $selectionBg;
    color: $selectionColor;
    text-shadow: none;
  }

  ::selection {
    background: $selectionBg;
    color: $selectionColor;
    text-shadow: none;
  }

/*
 * Modules
 */

  @import "modules/fonts";

  @import "modules/assets";

  @import "modules/grid";

  @import "modules/type";

  @import "modules/buttons";

  @import "modules/forms";

  @import "modules/sprite";

/*
 * Specifics
 */

  @import "parts/header";

  @import "parts/footer";

  @import "parts/home";

  @import "parts/about";

  @import "parts/blog";

/*
 * Media
 */

  @import "modules/media";

  @import "modules/retina";