# Rewrite Engine On
RewriteEngine On

# GZIP Compression
php_flag zlib.output_compression On
php_value zlib.output_compression_level 5

<FilesMatch "\.js$">
  AddHandler application/x-httpd-php .js
  php_value default_mimetype "text/javascript"
</FilesMatch>

# Generic redirect non-www to www
# RewriteCond %{HTTP_HOST} ^(?!www\.)(.+) [NC]
# RewriteRule ^(.*) http://www.%1/$1 [R=301,NE,L]

# Generic redirect www to non-www
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Remove extension from PHP files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Accept Encoding Headers
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

# Default Charset
AddDefaultCharset UTF-8

# Last Modified Headers
<filesMatch "\.(js)$">
  Header set Last-Modified "Sat, 26 Apr 2014 18:00:00 GMT"
</filesMatch>
<filesMatch "\.(css)$">
  Header set Last-Modified "Sat, 26 Apr 2014 18:00:00 GMT"
</filesMatch>

# File Expiration
<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresDefault A604800

  ExpiresByType image/x-icon A2592000
  ExpiresByType image/gif A2592000
  ExpiresByType image/png A2592000
  ExpiresByType image/jpg A2592000
  ExpiresByType image/jpeg A2592000

  ExpiresByType text/css A604800
  ExpiresByType text/javascript A2592000
</IfModule>