// Headings

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.2;
  margin: 0;
}

h1, .h1 { font-size: 24px; }

h2, .h2 { font-size: 20px; }

h3, .h3 { font-size: 18px; }

h4, .h4 { font-size: 16px; }

h5, .h5 { font-size: 11px; }

h6, .h6 { font-size: 10px; }

// Paragraphs

p { margin: 0; }