  .button {
    font: 300 16px/1.2 'Roboto', sans-serif;
    color: #fff;
    border: 0;

    @include transition(background .2s ease);

    &.btn-xl {}

    &.btn-md {}

    &.btn-xs {}

    &.btn-color {}
  }