  #logo {
    a {
      display: block;
      height: 80px;
      width: 200px;
      background: url(../../images/sprite.png) 0 0 no-repeat;

      overflow: hidden;
      white-space: nowrap;
      text-indent: 100%;
    }
  }

  header {}